:root {
  --fs-main: 14px;
  --fs-back: 16px;
  --lh-main: 16px;
  --f-style-main: normal;
  --f-weight-main: 400;
  --f-weight-nav: 500;
  --f-weight-title: 700;
  --f-family-main: "Roboto", Arial, Helvetica, sans-serif;
  /* --f-family-back: ; */
  --color-main: #212121;
  --color-back: #757575;
  --color-white: #fff;
  --hover-color: #2196f3;
  --bg-color-main: #fff;
  --bg-color-back: #2f303a;
}

body {
  font-size: var(--fs-main);
  line-height: var(--lh-main);
  font-style: var(--f-style-main);
  font-weight: var(--f-weight-main);
  font-family: var(--f-family-main);
  color: var(--color-main);
  background-color: var(--bg-color-main);
  margin: 0;
}

/* HEADER styles */

.header {
  border-bottom: 1px solid #ececec;
}
.logo {
  color: var(--hover-color);
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-style: var(--f-style-main);
  font-weight: var(--f-weight-title);
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo .logo__span {
  color: #000;
}

.menu__link {
  color: var(--color-main);
  /* font-family: var(--f-family-main); */
  font-style: var(--f-style-main);
  font-weight: var(--f-weight-nav);
  font-size: var(--fs-main);
  line-height: var(--lh-main);
  letter-spacing: 0.02em;
  text-decoration: none;
}
.menu__link:hover,
.menu__link:focus {
  color: var(--hover-color);
}

.contacts__link {
  color: var(--color-back);
  /* font-family: var(--f-family-main); */
  font-style: var(--f-style-main);
  font-weight: var(--f-weight-nav);
  font-size: var(--fs-main);
  line-height: var(--lh-main);
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contacts__link:hover,
.contacts__link:focus {
  color: var(--hover-color);
}

/* STUDIO PAGE STYLES */

/*HERO styles */

.hero {
  background-color: var(--bg-color-back);
}
.hero__title {
  color: var(--color-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero__btn {
  color: var(--color-white);
  font-weight: var(--f-weight-title);
  font-size: var(--fs-back);
  line-height: 30px;
  border: 0px;
  border-radius: 4px;
  background-color: var(--hover-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* DESC section */

.desc__title {
  display: none;
}

.desc__subtitle {
  font-weight: var(--f-weight-title);
  font-size: var(--fs-main);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.desc__content {
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--color-back);
}

/* JOB section */

.job__title {
  font-weight: var(--f-weight-title);
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
}
.job__img {
  border: 1px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*  CREW list*/

.crew {
  background-color: #f5f4fa;
}
.crew__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
}

.crew__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.crew__subtitle {
  font-weight: var(--f-weight-nav);
  font-size: var(--fs-back);
  line-height: 19px;
  letter-spacing: 0.03em;
}
.crew__rank {
  font-size: var(--fs-back);
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--color-back);
}

/* PORTFOLIO PAGE STYLES */

/* Уникальная часть документа */

.portfolio__title {
  display: none;
}

.btn__btn {
  font-family: var(--f-family-main);
  font-weight: var(--f-weight-nav);
  font-size: var(--fs-back);
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border: 0px;
  border-radius: 4px;
}
.btn__btn:hover,
.btn__btn:focus {
  background-color: var(--hover-color);
}

.portfolio__item {
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.portfolio__subtitle {
  font-weight: var(--f-weight-title);
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}
.portfolio__desc {
  color: var(--color-back);
  font-size: var(--fs-back);
  line-height: 30px;
  letter-spacing: 0.03em;
}

/* FOOTER STYLES */

.footer {
  background-color: var(--bg-color-back);
}

.footer .logo > .logo__span {
  color: var(--color-white);
}

.footer__link {
  color: rgba(255, 255, 255, 0.6);
  /* font-family: var(--f-family-main); */
  font-style: var(--f-style-main);
  font-weight: var(--f-weight-main);
  font-size: var(--fs-main);
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer__link:hover,
.footer__link:focus {
  color: var(--color-white);
}
